.disabledInput {
    background-color: inherit;
    border: none;   
    max-width: 90px;
}

.enabledInput {
    max-width: 90px;
}

body {
    background-image: url(images/green-ppl-background.jpg);
    background-image: no-repeat;
    /*background-color:#cccccc;*/
}

#loginForm {
    background-color: aliceblue;
    padding: 10px;
    margin-top: 30px; 
    border-radius: 10px;
}

.entryForm {
    background-color: aliceblue;
    padding: 5px;
    border-radius: 10px;
}

.mainTitle {
    padding-top: 10px;
    width: 75%;
    text-align: center;
    box-align:center;
}

.errorDiv {
    color: red;
    font-size: 75%;
}

#viewDescription {
    width: 95%;
}